<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1 th:text="Registration">form</h1>
<form th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label th:text="Firstname">first</label>
        <input th:field="*{firstName}" class="form-control"/>
        <p th:each="error: ${#fields.errors('firstName')}"
           style="color: red" th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="Lastname">last</label>
        <input th:field="*{lastName}" class="form-control"/>
        <p th:each="error : ${#fields.errors('lastName')}"
           style="color: red" th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="Email">email</label>
        <input type="email" th:field="*{email}" class="form-control"/>
        <p th:each="error : ${#fields.errors('email')}"
           style="color: red" th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="Password">password</label>
        <input type="password" th:field="*{password}" class="form-control"/>
        <p th:each="error : ${#fields.errors('password')}"
           style="color: red" th:text="${error}">Validation error</p>
    </div>
    <div><br></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="Submit">submit</button>
</form>
<a href="/login">Already registered? Click here for login</a>
</div>
</body>
</html>